[uwsgi]

# user/group of uwsgi process once it’s started
uid             = {{ ansible_user }}
gid             = {{ ansible_user }}

# Django's project base directory (full path)
chdir           = {{ params.django_project_root }}/

# Django's wsgi module
module          = {{ params.django_wsgi_module }}:application

# the virtualenv (full path)
home            = {{ params.django_project_root }}/.venv

# master process
master          = true

# maximum number of worker processes
processes       = 2

# socket settings
socket          = /tmp/{{ params.django_project_name }}.sock
chmod-socket    = 666

# clear environment on exit
vacuum          = true

# pid settings
pidfile         = /tmp/{{ params.django_project_name }}.pid

# exit instead of brutal reload on SIGTERM
die-on-term     = true